.header{
    width: 1440px;
    height: 90px;
    background-color: #012d63;
}

body {
    font-family: "Playfair Display",sans-serif;
    font-size: 14px;
    letter-spacing: .03em;
    color: var(--primari-text-color);
    background: var(--primari-white-color)
}

a {
    text-decoration: none;
}


.container {
    width: 1440px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.list {
    list-style:none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-right: 72px;
}

.image{
    margin-right: 72px;
    margin-left: 147px;
   
}

.img__background{
    display: flex;
   flex-wrap: wrap;
}

.header__nav {
    background-color:#012d63;
    border-color: black;
    display: flex;
    align-items: center;
}

.header__nav::after {
    content: "";
    border-color: black;
    width: 135px;
    height: 2px;
}

.nav {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .nav {
        margin-right: auto;
    }
}

.nav__list {
    display:none;
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: flex;
        align-items: center;
        margin-left: 93px;
    }
}

.nav__item:not(:last-child) {
    margin-right: 50px
}

@media screen and (min-width: 768px) {
    .nav__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        line-height: 1.1428571429;
        letter-spacing: .02em;
        
    }
}

.nav__link {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    color: #c7c7c7;
}

.nav__link:hover,.nav__link:focus {
    color: #fff
}

.nav__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0.3);
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity var(--anim-fast),-webkit-transform var(--anim-fast);
    transition: transform var(--anim-fast),opacity var(--anim-fast);
    transition: transform var(--anim-fast),opacity var(--anim-fast),-webkit-transform var(--anim-fast)
}

.nav__link:hover::after,.nav__link:focus::after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1
}


.about {
    max-width: 1600px;
    margin: 0;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: var(--hero-bgc);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/src/images/background1.png)
}

.two__texts{
    display: flex;
    border: 5px solid #8e32c6;
    margin-bottom: 400px;
}

@media screen and (min-width: 1200px) {
    .about {
        width: 1440px;
        height: 858px;
        padding-top:400px;
        padding-bottom: 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/src/images/background1.png);
    }
}

@media screen and (min-device-pixel-ratio: 2),screen and (min-resolution: 192dpi),screen and (min-resolution: 2dppx) {
    .about {
        background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/src/images/background1.png)
    }
}

@media screen and (min-width: 768px) {
    .about {
        background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/src/images/background1.png)
    }
}

@media screen and (min-width: 768px)and (min-device-pixel-ratio: 2),screen and (min-width: 768px)and (min-resolution: 192dpi),screen and (min-width: 768px)and (min-resolution: 2dppx) {
    .about {
        background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/src/images/background1.png)
    }
}

@media screen and (min-width: 1200px) {
    .about {
        padding-top:200px;
        padding-bottom: 200px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/src/images/background1.png)
    }
}

@media screen and (min-width: 1200px)and (min-device-pixel-ratio: 2),screen and (min-width: 1200px)and (min-resolution: 192dpi),screen and (min-width: 1200px)and (min-resolution: 2dppx) {
    .about{
        background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(/src/images/background1.png)
    }
}

@media screen and (min-width: 1261px) {
    .about-title {
        display: flex;
        text-align: left;
        margin-left: 156px;
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 66px;
    }
}

.about-title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 144px;
    color: #fff;
    margin-top: 1px;
}



@media screen and (min-width: 1261px) {
    .about-subtitle{
        display: flex;
        text-align: left;
        margin-left: 164px;
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 66px;
    }
}
.about-subtitle{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 72px;
    color: #fff
}

@media screen and (min-width: 1261px) {
    .about-text{
        display: flex;
        text-align: left;
        margin-left: 164px;
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 66px;
    }
}

.about-text{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: inherit;
}

@media screen and (min-width: 1261px) {
    .about__me{
        display: block;
        flex-grow: 2;

    }
}

.rewiews__list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
}

.rewiews__list__item{
    font-family: "Roboto";
}

.about__me{
    list-style: none;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 1261px) {
    .btn-default{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin-left: 164px;
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 66px;
    }
}


@media screen and (min-width: 1261px) {
    .quality{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 105px;
        font-size: 48px;
        line-height: 66px;
    }
}

.svg__background{
    stroke-width: 5px;
    stroke: #8e32c6;
    margin-top: 670px
}


.quality{
    width: 1440px;
    height: 906px;
    background: url(/src/images/qualitybackground.png);
    background-repeat: no-repeat;
}

.heading{
    font-family: var(--second-family);
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    color: #fff;
}



.rewiews__list__item{
    list-style: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}


.date{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #d8d8d8;
}

.rewiews{
    width: 1440px;
    height: 906px;
    background: url(/src/images/background3.png);
    background-repeat: no-repeat;
}



.email__form{
    border-radius: 50px;
    width: 690px;
    height: 60px;
    background: #fff;
    margin-bottom: 10px;
}

.head{
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-right: 500px;
}

.texts__order{
        font-family: "Roboto";
        font-weight: 400;
        font-size: 28px;
        color: #959595;
}

.emails__form{
    border-radius: 50px;
    width: 580px;
    height: 50px;
    background: #fff;
    margin-bottom: 10px;
}

.btn-default{
    border-radius: 10px;
    border-color: #8e32c6;
    width: 254px;
    height: 67px;
    background: #8e32c6;
    color:#fff;
    font-size: 20px;
}

.btn-default{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

@media screen and (min-width: 1261px) {
    .sr__text{
        display: flex;
        text-align: left;
        margin-left: 164px;
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 66px;
        text-align: center;
    }
}

.imgs {
    display: flex;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.sr__text{
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 0px;
}

.order{
    width: 1900px;
    height: 509px;
    background: url(/src/images/orderbackground.png);
    background-repeat: no-repeat;
}

.footer {
    width: 1440px;
    height: 416px;
    background: #021635;
}

.questions{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
   
}

.footer-item{
    text-align: right;
    margin-right: 160px;
    
}

.address__link{
    font-style: normal;
    line-height: 1.7142857143;
    color: #fff;
    -webkit-transition: color var(--anim-fast);
    transition: color var(--anim-fast);
    
    
}

.footer__link{
    color: #fff;
}

.address__link:hover,.address__link:focus {
    color: #fff;
}

.contacts{
    font-family:"Roboto";
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
}

.footer__questions{
    list-style: none;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    line-height: 2;   
}

.copyright-title{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    padding-left: 34px;
}
